.input-form-container {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 450px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.main-result-container {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 470px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-left: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="file"] {
  width: 70%;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

button[type="submit"] {
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.result-container {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.result-container h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.result-container p {
  margin: 0;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-group label {
  margin-bottom: 20px;
}

.radio-group label input {
  margin-right: 5px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-label input[type="text"] {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;
}

.checkbox-label input:checked + span {
  font-weight: bold;
}

.checkbox-label input[type="text"]:focus {
  border-color: #007BFF;
  outline: none;
}

.checkbox-label input[type="text"]::placeholder {
  color: #aaa;
}
